body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 50px;
    padding: 10px;
    background-color: #000000;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.container {
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    margin: 0 10px;
    width: 25%;
    background-color: #333;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 50%;
}

.post {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px 0;
}

ul.post-header, ul.post-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

ul.post-header li {
    float: right;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
}   

ul.post-header li img {
    width: 50px;
    height: 50px;
}

.post p {
    position: relative;
    width: 100%;
    overflow: visible;
    padding: 0 10px;
    text-align: justify;
}

.post p img {
    display: block;
    max-width: 70%;
    max-height: 400px;
}

ul.post-footer li {
    position: relative;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul.post-footer li img {
    width: 25px;
    height: 25px;
}

@media (max-width: 600px) {
    main {
        width: 90%;
    }
    aside{
        display: none;
      }
}
  
@media (max-width: 800px) {
    main {
        width: 80%;
    }
    aside {
        width: 10%;
    }
    .container {
        justify-content: center;
    }
    
}