* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: lightgray;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    background-color: #333;
    border-radius: 10px;
}
.navbar {
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    margin: 0;
}

li.navitem {
    float: left;
    position: relative;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    color:white;
}

li.navitem:hover {
    background-color: #111;
}

li.navitem>a {
    display: block;
    color: white;
    text-decoration: none;
}

.icon {
    background-color: #333;
    background: none;
    border: none;
    display: block;
    float: right;
    width: 49px;
    height: 49px;
}

.icon:hover {
    cursor: pointer;
}

.icon>img {
    width: 47px;
    height: 47px;
}

#personalInfo {
    position: absolute;
    display: none;
    right: 5px;
    top: 45px;
    align-items: center;
    margin: 5px;
    background-color: gray;
    border-radius: 10px;
}

.dropdown {
    margin: 5px;
    color: white;
    list-style: none;
}

.logout>a{
    color: darkblue;
}
  
@media (max-width: 800px) {
    header{
        justify-content: center; 
      }

    #personalInfo {
        right: 32.25%
    }
}